<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>附件的人</title>
    <style type="text/css">
      body {
        padding: 20px;
      }
      input {
        margin-bottom: 10px;
      }
      input[name=location] {
        width: 200px;
      }
    </style>
  </head>
  <body>
    <!-- 同步表单上传文件的时候，表单，一定要加上enctype="multipart/form-data" -->
    <form action="/add" method="post" enctype="multipart/form-data">
      网名:&nbsp;<input type="text" name="nickname"><br>
      头像:&nbsp;<input type="file" name="avater"><br>
      我的位置:&nbsp;<input type="text" name="location" value="39.9821890743,116.3584743323"><br>
      <button>添加</button>
    </form>
  </body>
</html>
